@using Microsoft.AspNetCore.Identity
@using DebateRoyale.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var applicationUser = await UserManager.GetUserAsync(User);
    var avatarPath = applicationUser?.SelectedAvatar ?? "default_avatar.png";

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/avatars/@avatarPath" alt="User Avatar" width="30" height="30" class="rounded-circle me-2" />
            @applicationUser?.UserName
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gestisci">
                    <i class="fas fa-cog me-2"></i> Impostazioni
                </a>
            </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-page="/Users">
                            <i class="fas fa-users-cog me-1"></i> Gestione Utenti
                        </a>
                    </li>
                }
            <li><hr class="dropdown-divider"></li>
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt me-2"></i> Esci
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">
            <i class="fas fa-user-plus me-1"></i> Registrati
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary ms-2" id="login" asp-area="Identity" asp-page="/Account/Login">
            <i class="fas fa-sign-in-alt me-1"></i> Accedi
        </a>
    </li>
}
</ul>
